body {
    background-color: #504A4A;
    color: white;
}

h2 {
    color: white;
}

.panel > .panel-heading {
    background-color: orange;
}
.panel {
    background-color: #504A4A;
    border: solid 1px white;
    text-align: center;
    height: 450px;
}

.charDescription {
    color: #E23636;
}

.charImage {
    border-radius: 100%;
}

.male {
    border: 5px solid #518CCA;
}

.female {
    border: 5px solid pink;
}